<link href="../css/site.css" rel="stylesheet">

@{
    ViewData["Title"] = "Загрузка архивов";
}

<div class="import-wrapper">
    <form class="import-form" method="post" asp-controller="Weather" asp-action="Import" enctype="multipart/form-data">
        <label>Выберите файл(-ы) для загрузки</label>
        <input type="file" multiple name="files"/>
        <button class="btn submit-btn" type="submit" name="Upload">Загрузить</button>
    </form>
</div>