<link href="../css/site.css" rel="stylesheet">

@{
    ViewData["Title"] = "Неправильный тип файла";
}

<div class="main-wrapper">
    <h1>Неправильный тип файла</h1>
    <h2>Нужно вставить .xlsx файл для загрузки данных</h2>
</div>